<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>111</string>
		<key>name</key>
		<string>王婧</string>
		<key>text</key>
		<string>我这头像很der么，多返璞归真啊</string>
		<key>time</key>
		<string>1小时前</string>
		<key>pics</key>
		<array/>
	</dict>
	<dict>
		<key>icon</key>
		<string>222</string>
		<key>name</key>
		<string>王航</string>
		<key>text</key>
		<string>闲情，并非人人有得。你可以有空闲，但不一定有闲情。闲情，是不追赶，不慌张，不功利，不浮躁。是时刻聆听心之呼吸，但凭人生山高水远，一颗心依然之上花开。</string>
		<key>time</key>
		<string>2小时前</string>
		<key>pics</key>
		<array>
			<string>pic_00</string>
			<string>pic_01</string>
			<string>pic_02</string>
			<string>pic_03</string>
			<string>pic_04</string>
			<string>pic_05</string>
			<string>pic_06</string>
			<string>pic_07</string>
			<string>pic_08</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>222</string>
		<key>name</key>
		<string>王航</string>
		<key>text</key>
		<string>闲情，并非人人有得。你可以有空闲，但不一定有闲情。闲情，是不追赶，不慌张，不功利，不浮躁。是时刻聆听心之呼吸，但凭人生山高水远，一颗心依然之上花开。</string>
		<key>time</key>
		<string>2小时前</string>
		<key>pics</key>
		<array>
			<string>pic_00</string>
			<string>pic_01</string>
			<string>pic_02</string>
			<string>pic_03</string>
			<string>pic_04</string>
			<string>pic_05</string>
			<string>pic_06</string>
			<string>pic_07</string>
			<string>pic_08</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>222</string>
		<key>name</key>
		<string>王航</string>
		<key>text</key>
		<string>闲情，并非人人有得。你可以有空闲，但不一定有闲情。闲情，是不追赶，不慌张，不功利，不浮躁。是时刻聆听心之呼吸，但凭人生山高水远，一颗心依然之上花开。</string>
		<key>time</key>
		<string>2小时前</string>
		<key>pics</key>
		<array>
			<string>pic_00</string>
			<string>pic_01</string>
			<string>pic_02</string>
			<string>pic_03</string>
			<string>pic_04</string>
			<string>pic_05</string>
			<string>pic_06</string>
			<string>pic_07</string>
			<string>pic_08</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>222</string>
		<key>name</key>
		<string>王航</string>
		<key>text</key>
		<string>闲情，并非人人有得。你可以有空闲，但不一定有闲情。闲情，是不追赶，不慌张，不功利，不浮躁。是时刻聆听心之呼吸，但凭人生山高水远，一颗心依然之上花开。</string>
		<key>time</key>
		<string>2小时前</string>
		<key>pics</key>
		<array>
			<string>pic_00</string>
			<string>pic_01</string>
			<string>pic_02</string>
			<string>pic_03</string>
			<string>pic_04</string>
			<string>pic_05</string>
			<string>pic_06</string>
			<string>pic_07</string>
			<string>pic_08</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>222</string>
		<key>name</key>
		<string>王航</string>
		<key>text</key>
		<string>闲情，并非人人有得。你可以有空闲，但不一定有闲情。闲情，是不追赶，不慌张，不功利，不浮躁。是时刻聆听心之呼吸，但凭人生山高水远，一颗心依然之上花开。</string>
		<key>time</key>
		<string>2小时前</string>
		<key>pics</key>
		<array>
			<string>pic_00</string>
			<string>pic_01</string>
			<string>pic_02</string>
			<string>pic_03</string>
			<string>pic_04</string>
			<string>pic_05</string>
			<string>pic_06</string>
			<string>pic_07</string>
			<string>pic_08</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>222</string>
		<key>name</key>
		<string>王航</string>
		<key>text</key>
		<string>闲情，并非人人有得。你可以有空闲，但不一定有闲情。闲情，是不追赶，不慌张，不功利，不浮躁。是时刻聆听心之呼吸，但凭人生山高水远，一颗心依然之上花开。</string>
		<key>time</key>
		<string>2小时前</string>
		<key>pics</key>
		<array>
			<string>pic_00</string>
			<string>pic_01</string>
			<string>pic_02</string>
			<string>pic_03</string>
			<string>pic_04</string>
			<string>pic_05</string>
			<string>pic_06</string>
			<string>pic_07</string>
			<string>pic_08</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>222</string>
		<key>name</key>
		<string>王航</string>
		<key>text</key>
		<string>闲情，并非人人有得。你可以有空闲，但不一定有闲情。闲情，是不追赶，不慌张，不功利，不浮躁。是时刻聆听心之呼吸，但凭人生山高水远，一颗心依然之上花开。</string>
		<key>time</key>
		<string>2小时前</string>
		<key>pics</key>
		<array>
			<string>pic_00</string>
			<string>pic_01</string>
			<string>pic_02</string>
			<string>pic_03</string>
			<string>pic_04</string>
			<string>pic_05</string>
			<string>pic_06</string>
			<string>pic_07</string>
			<string>pic_08</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>222</string>
		<key>name</key>
		<string>王航</string>
		<key>text</key>
		<string>闲情，并非人人有得。你可以有空闲，但不一定有闲情。闲情，是不追赶，不慌张，不功利，不浮躁。是时刻聆听心之呼吸，但凭人生山高水远，一颗心依然之上花开。</string>
		<key>time</key>
		<string>2小时前</string>
		<key>pics</key>
		<array>
			<string>pic_00</string>
			<string>pic_01</string>
			<string>pic_02</string>
			<string>pic_03</string>
			<string>pic_04</string>
			<string>pic_05</string>
			<string>pic_06</string>
			<string>pic_07</string>
			<string>pic_08</string>
		</array>
	</dict>
</array>
</plist>
